:host {
  min-width: 265px;
}
p {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.priceUSD {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1.3em;
}

.priceETH {
  margin-bottom: 0.5em;
}

div {
  &.symbol {
    font-weight: 500;
    font-size: 1.4em;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    .etherscan,
    .coingecko,
    .logo,
    .name {
      margin-right: 0.2em;
    }
    .title-header {
      display: flex;
      align-items: center;
    }
    .icons-list {
      img {
        vertical-align: baseline;
      }
    }
  }
}

a {
  &.trade {
    margin-right: 0.5em;
  }
  &.mobiletrade,&.favorite2 {
    display:none;
  }
}

.buy-btn {
  background-color: #29a767;
  border: 1px solid rgb(2, 192, 118);
  text-transform: uppercase;
  color: white;
  background-color: rgb(2, 192, 118);
  margin-right: 0.6em;
}

.buy-btn:focus,
.buy-btn:hover {
  color: rgb(255, 254, 251);
  background-color: #409572;
  border-color: #409572;
}
