#header {
  display: flex;

  app-token-info {
    margin-right: 24px;
  }

  .time-inerval {
    width: 72px;
    margin-right: 0.8em;
  }

  #chart-header {
    display: flex;
    margin-bottom: 1em;

    .chart-options {
      margin-right: 0.8em;
      display: flex;
    }

    @media only screen and (max-width: 815px) {
      .price-options {
        display: none !important;
      }
    }

    .price-options {
      display: flex;
    }

    .my-entry,
    .price-alert {
      margin-right: 0.8em;
      display: flex;
      align-items: baseline;
      a,
      div {
        margin-right: 0.8em;
      }
      label {
        width: 70px;
      }
      input {
        width: 80px;
        margin-right: 0.8em;
      }
    }
  }
}

@media only screen and (max-width: 815px) {
  #header,
  .chart-options,
  .price-options {
    flex-direction: column;
  }
  .price-options {
    .price-alert {
      margin-top: 0.5em;
    }
  }
  #chart-header {
    margin-top: 0.5em !important;
    margin-bottom: 0em !important;
  }
  app-token-info {
    margin-right: 0px !important;
    font-size: 12px !important;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  nz-table {
    width: 100%;
    height: 500px;
    overflow-x: scroll;
  }
  .ant-table-tbody {
    font-size: 10px !important;
  }
  .ant-table-cell {
    font-size: 10px !important;
  }
}

.ant-table-wrapper {
  margin-top: 4px;
  border: 1px solid rgb(94, 35, 146);
}

.searchMaker {
  margin-right: 0.8em;
  cursor: pointer;
}

.chartex {
  img {
    margin-right: 6px;
    &.light {
      background: #000000bf;
      padding: 4px;
    }
  }
}

.maker-address {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.zerion {
  vertical-align: text-bottom;
}

.load-more-btn {
  margin-right: 0.4em;
}

nz-alert {
  margin-bottom: 16px;
}

#chart-right {
  width: 100%;
}
